.Navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 5px;
 &__links{
  display: flex;
  align-items: center;
 }
 &__link{
  list-style: none;
  margin-right: 10px;
  cursor: pointer;
 }
 &__linkItem{
  text-decoration: none;
  color: #0059ff;
 }
 &__linkActive{
  list-style: none;
  margin-right: 10px;
  cursor: pointer;
  color: #0059ff;
 }
}