.Navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: #fff;
 padding: 10px;
 &__links{
  display: flex;
  align-items: center;
 }
 &__link{
  list-style: none;
  margin-right: 10px;
  cursor: pointer;
 }
 &__linkItem{
  text-decoration: none;
  color: #0059ff;
 }
 &__linkActive{
  list-style: none;
  margin-right: 10px;
  cursor: pointer;
  color: #0059ff;
 }
}


@media (max-width: 750px) {
 .Navbar {
  display: block;
  &__links{
   margin-top: 10px;
   display: flex;
   align-items: center;
  }
 }
}
@media (max-width: 450px) {
 .Navbar {
  display: block;
  &__links{
   display: none;
  }
 }
}