.CatalogBasket {
 &__title{
  margin: 5px 10px;
 }
 background-color: #fff;
 -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
 -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
 box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
 padding: 20px;
 width: 650px;
}


@media(max-width: 1150px){
 .CatalogBasket{
  width: 550px;
 }
}


@media(max-width: 1000px){
 .CatalogBasket{
  width: 100%;
  margin: 0px auto;
  text-align: center;
  display: block;
 }
}